.experienceBar
{
  display: flex;
  align-items: center;
}

.experienceBar span
{
  font-size: 0.8rem;
  font-weight: 600;
  
}

.experienceBar > div
{
  flex: 1;
  height: 3px;
  border-radius: 4px;
  background:  var(--gray-line);
  margin: 0 0.4rem;
  position: relative;
}
.experienceBar > div > div
{
  height: 3px;
  border-radius: 4px;
  background: var(--green);
}

span.currentExperience
{
  position: absolute;
  top: 9px;
  transform: translateX(-50%);
}